{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}"  type="text/css" />

This is pageform

<div class="modal-body row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }} <br>
                {{ form.title(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.directions.label }} <br>
                {{ form.directions(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.directions.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image.label }} <br>
                {{ form.image(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.image.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.content.label }} <br>
                {{ form.content(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.content.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.c1.label }} <br>
                {{ form.c1(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.c1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.c2.label }} <br>
                {{ form.c2(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.c2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.c3.label }} <br>
                {{ form.c3(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.c3.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>

{% endblock %}