{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}"  type="text/css" />
<link rel="stylesheet" href="static/css/game.css" />


    {% if page.image %}
        <img class="img-fluid" style="width: 50%; height: 50%;" src="data:image;base64,{{base64encode(page.image.read())}}">
    {% endif %}
    <br>

    <div class="content">
        {{page.content}}
    </div>

    <br>

    <div class="choices">
        {% if page.c1.title != "blank" %}
            <a href="/page/{{page.c1.id}}">{{page.c1.directions}}</a>
        {% endif %}
            <br>
        {% if page.c2.title != "blank" %}
            <a href="/page/{{page.c2.id}}">{{page.c2.directions}}</a>
        {% endif %}
            <br>
        {% if page.c3.title != "blank" %}
            <a href="/page/{{page.c3.id}}">{{page.c3.directions}}</a>
        {% endif %}
    </div>
    
{% endblock %}