{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}"  type="text/css" />

    {{page.title}}
    <br>
    <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(page.image.read())}}">
    <br>
    {{page.content}}
    <br>
    {% if choices[0] != "None" %}
    <a href="/page/{{page.c1.id}}">{{page.c1.directions}}</a>
    {% endif %}
    <br>
    {% if choices[1] != "None" %}
    <a href="/page/{{page.c2.id}}">{{page.c2.directions}}</a>
    {% endif %}
    <br>
    {% if choices[2] != "None" %}
    <a href="/page/{{page.c3.id}}">{{page.c3.directions}}</a>
    {% endif %}
{% endblock %}