{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}"  type="text/css" />

    {{page.title}}
    <br>
    {{page.directions}}
    <br>
    <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(page.image.read())}}">
    <br>
    {{page.content}}
    <br>
    <a href="625f873bca9f30156ad0c34a">{{page.c1.title}}</a>
    <br>
    {{page.c2.title}}
    <br>
    {{page.c3.title}}
    <br>
    <button><a href="625f86e5ca9f30156ad0c348">Choice 1</a></button>
    <button><a href="">Choice 2</a></button>
    <button><a href="">Choice 3</a></button>


{% endblock %}