body, html{
    background: linear-gradient(180deg, 
    rgb(244, 240, 219) 0%, 
    rgba(209,218,195,1) 9%,
    rgba(173,198,173,1) 22%, 
    rgba(98,155,127,1) 38%, 
    rgba(69,139,109,1) 56%, 
    rgba(39,122,91,1) 68%,
    rgba(20,111,79,1) 79%,
    rgb(8, 107, 74) 90%);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.fontshadow{
    text-shadow: 1px 2px #ffffff;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}

