<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}

{% block body %}
<div class="about-section" style="font-family: cursive">
    <h1 >About Us Page</h1>
    <ul>
      <li>
        <p>The purpose of this app:</p>
        <ul>
          <li><p>To explains to the world to understand the dangers of human activities and climate change that affects pandas?</p></li>
          <li><p>To explains the effects of human interference in relations with the panda population and present possible solutions.</p></li>
        </ul>
      </li>
      <li>
        <p>Type of Interation:</p>
        <ul>
          <li><p>Story mode</p></li>
          <li><p>Game mode</p></li>
        </ul>
      </li>
      <li>
        <p>Brief Story:</p>
        <ul>
          <li><p>One day, Andy stumbled upon a black eyed bear with black and white fur, the giant panda. 
            He went on a giant panda website created by four seniors to learn more about the animal. 
            From the website, he learned about the habitat and history of giant pandas and the solutions 
            people have proposed to help combat the diminishing population of giant pandas. Throughout the 
            process he was asked questions that surveyed his opinions and proposed techniques to preserve 
            giant pandas. When asked enough questions, he was directed to a page that showed what his 
            opinions would do to the population of giant pandas, showing him how his actions would affect them. 
            Andy then clicked on a button, labeled “Play Game”, at the bottom of the page and redirect him to the 
            game page. Andy sees a panda sitting at a sunset on the top portion of the website followed by two 
            buttons, labeled “Start New Game” and “ Load Game”, below the panda. Andy clicks on Start New Game 
            and the game plays a short story of a panda cub losing it's mother due to human interference. Andy
            plays as the cub, who he names Tan, and throughout the game Andy is prompted questions of what Tan 
            experiences. For example, “Tan hears unusually loud noises coming from the river, does he go investigate
            it” to which Andy clicks on a box labeled “Tan goes towards the river” rather than clicking on the box 
            below it, labeled “Tan goes away from the river. Maybe it is dangerous”. So Tan walks closer to the river 
            and sees humans cutting down trees with machinery to build infrastructure traumatizes him and runs away 
            in fear. The game ends with the message on the screen “Ending 4/15”.</p></li>
        </ul>
      </li>
    </ul>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
        <img src="/static/kevin.jpg" style="width:50%">
        <div class="container">
          <h2>Kevin Lu</h2>
          <p>Author Blurb</p>
        </div>
    </div>
  
    <div class="column">
        <img src="/static/marco.jpg" style="width:50%">
        <div class="container">
          <h2>Marco M</h2>
          <p>Author Blurb</p>
        </div>
    </div>
  
    <div class="column">
        <img src="/static/jerry.jpg" style="width:50%">
        <div class="container">
          <h2>Jerry Au</h2>
          <p>Author Blurb</p>
        </div>
    </div>

    <div class="column">
        <img src="/static/andy.jpg" alt="John" style="width:50%">
        <div class="container">
          <h2>Andy Wei Kit Liu</h2>
          <p>Author Blurb</p>
        </div>
    </div>
</div>

<p>version 1</p>
</div>
{% endblock %}