{% extends 'base.html' %}

{% block body %}

{% if donation %}

{{moment(donation.createdate).calendar()}} by {{donation.author.username}} 
{% if donation.modifydate %}
    modified {{moment(donation.modifydate).calendar()}}
{% endif %}
<br>
    {% if donation.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete donation" href="/donation/delete/{{donation.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit donation" href="/donation/edit/{{donation.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{donation.subject}}</h1>
    <p class="fs-3 text-break">
        {% if donation.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(donation.author.image.read())}}">
        {% endif %}
            {{donation.content}}
    </p>
{% else %}
    <h1 class="display-5">No donation</h1>
{% endif %}

{% endblock %}