<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

{% block body %}
<link rel="stylesheet" href="static/css/homestyle.css" />

<header>
  <div class="logo">
    <img src="static/logo.png" alt="">
  </div>
    <div class="welcome-text">
      <h1 class="title">Welcome to Panda Roo!</h1>
      <a href="/climatechange" title="Learn about climate change"> Learn more </a>
      <h2>A website dedicated to Pandas</h2>
  </div>

</header>
{% endblock %}