<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}"  type="text/css" />
<div class="about-section" style="font-family: cursive">
    <h1 >Solution Page</h1>
    <br><br>
    <!--Columns for Possible Solutions-->
    <h1 style="text-align: center">What are possible Solutions???</h1>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            Protecting Areas & Bamboo Corridors
            <br><br>
            <p>The good news is that giant panda numbers are increasing. Slowly but surely this remarkable species is edging away from the brink of extinction - thanks to a host of successful conservation projects.  </p>
          </div>
          <div class="col-sm">
            Conservation & Community Development
            <br><br>
            <p></p>
          </div>
          <div class="col-sm">
            Research & Monitoring
            <br><br>
            <p></p>
          </div>
        </div>
      </div>
</div>
{% endblock %}