<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Chat Bot</title>
    <link rel = "stylesheet" href = "/static/css/chat.css"/>
    <link rel = "stylesheet" href = "/static/css/home.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--Chat Bar Block-->
    <div class = "chat-bar-collapsible">
        <button id = "chat-button" type = "button" class = "collapsible">Click On Me!
            <i id = "chat-icon" style = "color: #ffffff;" class = "fa fa-fw fa-comments-o"></i>
        </button>
        <div class = "content">
            <div class = "full-chat-block">
                <!--Message Container-->
                <div class = "outer-container">
                    <div class = "chat-container">
                        <!--Messages-->
                        <div id = "chatbox">
                            <h5 id = "chat-timestamp"></h5>
                            <p id = "botStarterMessage" class = "botText"><span>Hello I am Bob, a virtual giant panda🐼. I am here to help with any questions you may have.</span></p>
                        </div>
                        <!--User Input-->
                        <div class = "char-bar-input-block">
                            <div id = "userInput">
                                <input id = "textInput" class = "input-box" type = "text"  name = "msg" placeholder = "Tape 'Enter' to send a message">
                                <p></p>
                            </div>
                            <div class = "chat-bar-icons">
                                <i id = "chat-icon" style = "color: crimson;" class = "fa fa-fw fa-heart" onclick = "heartButton()"></i>
                                <i id = "chat-icon" style = "color: #333;" class = "fa fa-fw fa-send" onclick = "sendButton()"></i>
                            </div>
                        </div>
                        <div id = "chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/scripts/responses.js"></script>
<script src="/static/scripts/chat.js" ></script>
</html>
{% endblock %}